{% extends 'base.html.twig' %}
{% block body %}

    <table>
        <tbody>
            <tr>
                <td valign="top">
                    {{form_start(frmDecaisser)}}
                    {{form_row(frmDecaisser.lignebudgetdepense)}}
                    {{form_row(frmDecaisser.lignebudgetsource)}}
                    {{form_row(frmDecaisser.montantdetail)}}
                    {{form_row(frmDecaisser.modepayement)}}
                    {{form_row(frmDecaisser.createAt)}}
                    {{form_row(frmDecaisser.descriptiondetaildepense)}}
                    <br>
                    <button type="submit" class="btn btn-success">
                    {% if editMode %}
                    Modifier
                    {% else %}
                    Enregistrer
                    {% endif %}
                    </button>
                    {{form_end(frmDecaisser)}}

                </td>
                <td valign="top">
                    <h5>Les sorties pour cet OP
                    </h5>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">ID</th>
                                <th scope="col">recette</th>
                                <th scope="col">date</th>
                                <th scope="col">montant</th>
                                 <th scope="col">Modifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set numDepense = 0 %}
                            {% set totalDetail = 0 %}
                            {% for uneSortie in queryListDetailSortie %}
                          
                            
                                <tr>
                                    <th scope="row">
                                        {% set numDepense = numDepense + 1 %}
                                        {{ numDepense }}
                                    </th>
                                    <td>{{uneSortie.lesdetails.lignebudgetsource.lignebudgetprevision.intituleLigne}}
                                    </td>
                                    <td>{{uneSortie.lesdetails.createAt|date('d/m/Y') }}
                                    </td>
                                    {% set totalDetail = totalDetail + uneSortie.lesdetails.montantdetail %}
                                    <td>{{uneSortie.lesdetails.montantdetail}}
                                    </td>
                                     <td>
                                        <a href="{{path('edit_decaisser', {'id':uneSortie.lesdetails.id})}}">
                                           <img src="{{ asset('/img/edit.png') }}"/></a>
                                            <a href="{{path('delete_caisser', {'id':uneSortie.lesdetails.id})}}">
                                            <img src="{{ asset('/img/delete1.png') }}"/></a>
                                    </td>

                                </tr>
                            {% endfor %}
                            <tr class="table-primary">
                                <th scope="row"></th>
                                <td></td>
                                <td>Total</td>
                                <td>
                                    {{totalDetail}}
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td  valign="top">
                 <h5> La situation de la caisse </h5>
                         <table class="table table-hover">
                            <thead>
                                <tr class="table-primary">
                                    <th scope="col">ID</th>
                                    <th scope="col">Service</th>
                                    <th scope="col">recette</th>
                                    <th scope="col">montant</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% set numDepense = 0 %}
                               {% set soldeService = 0 %}
                              {% set service = null %}
                                {% for soldeLigne in querySoldeCompte %}
                                  {% if soldeLigne.mesrecettes.lignebudgetrecette.leSolde > 0 %}
                                   <tr>
                                       <th scope="row">
                                             {% set numDepense = numDepense + 1 %}
                                        {{ numDepense }}
                                       </th>
                                        <td>
                                            {{soldeLigne.mesrecettes.lignebudgetrecette.service.designation}}
                                            {% set service = soldeLigne.mesrecettes.lignebudgetrecette.service %}
                                        </td>
                                        <td>
                                            {{soldeLigne.mesrecettes.lignebudgetrecette.lignebudgetprevision.intituleLigne}}
                                        </td>
                                        <td>
                                            {% set soldeService = soldeService + soldeLigne.mesrecettes.lignebudgetrecette.leSolde %}
                                            {{soldeLigne.mesrecettes.lignebudgetrecette.leSolde}}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr class="table-primary">
                                <th scope="row"></th>
                                <td colspan="1">Reste en caisse</td>
                                <td></td>
                                <td>{{soldeService}}</td>
                            </tr>
                               {% if is_granted('ROLE_CHEF_SERVICE')== false or  is_granted('ROLE_COMPTE_FAC')== false  %}
                                        {% set numDepenseAutre = 0 %}
                                        {% set soldeAutresService = 0 %}
                                        {% if querySoldeCompteAutres is not null %}
                                            {% for soldeLigneAutre in querySoldeCompteAutres %}
                                            {% if soldeLigneAutre.mesrecettes.lignebudgetrecette.leSolde > 0  and soldeLigneAutre.mesrecettes.lignebudgetrecette.service is not same as(service) %}
                                            <tr>
                                                <th scope="row">
                                                        {% set numDepenseAutre = numDepenseAutre + 1 %}
                                                    {{ numDepenseAutre }}
                                                </th>
                                                    <td>
                                                        {{soldeLigneAutre.mesrecettes.lignebudgetrecette.service.designation}}
                                                    </td>
                                                    <td>
                                                        {{soldeLigneAutre.mesrecettes.lignebudgetrecette.lignebudgetprevision.intituleLigne}}
                                                    </td>
                                                    <td>
                                                    {% set soldeAutresService = soldeAutresService + soldeLigneAutre.mesrecettes.lignebudgetrecette.leSolde %}
                                                        {{soldeLigneAutre.mesrecettes.lignebudgetrecette.leSolde}}
                                                    </td>
                                            </tr>
                                        {% endif %}
                                            {% endfor %}
                                            <tr class="table-primary">
                                            <th scope="row"></th>
                                            <td></td>
                                            <td>Reste Autre </td>
                                            <td>{{soldeAutresService}}</td>
                                            </tr>
                                            <tr class="table-primary">
                                            <th scope="row"></th>
                                            <td></td>
                                            <td>Reste Global </td>
                                            <td>{{soldeAutresService + soldeService}}</td>
                                            </tr>
                                            {% endif %}
                                 {% endif %}
                            </tbody>
                        </table>
                </td>


            </tr>
            <tr>
                

                 
                    <td>
                    </td>
                 
            </tr>

        </tbody>
    </table>

{% endblock %}