{% extends 'base.html.twig' %}
{% block body %}

    <table>
        <tbody>
            <tr>
                <td valign="top">
                    {{form_start(frmDecaisser)}}
                    {{form_row(frmDecaisser.lignebudgetdepense)}}
                    {{form_row(frmDecaisser.lignebudgetsource)}}
                    {{form_row(frmDecaisser.montantdetail)}}
                    <br>
                    <button type="submit" class="btn btn-success">
                        Enregistrer
                    </button>
                    {{form_end(frmDecaisser)}}

                </td>
                <td valign="top">
                    <h3>Les paiement des OP
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">ID</th>
                                <th scope="col">recette</th>
                                <th scope="col">date</th>
                                <th scope="col">montant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set numDepense = 0 %}
                            {% set totalDetail = 0 %}
                            {% for resutatDejeDecaisser in resutatDejeDecaissers %}
                                <tr>
                                    <th scope="row">
                                        {% set numDepense = numDepense + 1 %}
                                        {{ numDepense }}
                                    </th>
                                    <td>{{resutatDejeDecaisser.lesdetailsDesDepenses.lignebudgetsource.lignebudgetprevision.intituleLigne}}
                                    </td>
                                    <td>{{resutatDejeDecaisser.lesdetailsDesDepenses.createAt}}
                                    </td>
                                    {% set totalDetail = totalDetail + resutatDejeDecaisser.lesdetailsDesDepenses.montantdetail %}
                                    <td>{{resutatDejeDecaisser.lesdetailsDesDepenses.montantdetail}}
                                    </td>

                                </tr>
                            {% endfor %}
                            <tr class="table-primary">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td>
                                    {{totalDetail}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>

                    <h3>La situation de la caisse
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">ID</th>
                                <th scope="col">Ligne recette</th>
                                <th scope="col">Service</th>
                                <th scope="col">Solde</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% set numDepense = 0 %}
                            {% for soldeParLigne in tblCaisse %}

                                <tr>
                                    <th scope="row">
                                        {% set numDepense = numDepense + 1 %}
                                        {{ numDepense }}
                                    </th>
                                    <td>
                                        {{soldeParLigne.maCaisse.lignebudgetprevision.intituleLigne}}</td>
                                    <td>
                                        {{soldeParLigne.maCaisse.service.designation}}</td>
                                    <td>{{soldeParLigne.maCaisse.leSolde}}</td>

                                    <td></td>

                                </tr>
                            {% endfor %}
                            <tr class="table-primary">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td></td>
                <td>

                    <td></td>
                </td>
            </tr>

        </tbody>
    </table>

{% endblock %}