{% extends 'base.html.twig' %}
{% form_theme formDetailRecette 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h3>{{ title }} Recette
    </h3>
    <table>
        <tbody>

            <tr>
                <td nowrap="nowrap" valign="top">
                    {{ form_start(formDetailRecette)}}
                    {{ form_row(formDetailRecette.libelle)}}
                    {{ form_row(formDetailRecette.lignebudgetrecette)}}
                    {{ form_row(formDetailRecette.utilisateur)}}
                    {{ form_row(formDetailRecette.description)}}
                    {{ form_row(formDetailRecette.montantrecette, {'attr' :{'required':'required'}})}}
                    {{ form_row(formDetailRecette.sauvegarder)}}
                    {{ form_end(formDetailRecette)}}
                </td>

                <td valign="top">

                    <table class="table table-hover">

                        <thead>
                            <tr class="table-primary">
                                <th colspan='8'>
                                    Detail de la ligne  : {{ resultatDetailRecette[0].intituleLigne }}</th>
                            </tr>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Libelé</th>
                                 <th scope="col">Competable</th>
                                <th scope="col">Date </th>
                                <th scope="col">Montant</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                    
                            {% set num = 0 %}
                            {% for recette in resultatDetailRecette %}
                                <tr>
                                    <td>
                                        {% set num = num + 1 %}
                                        {{num}}
                                    </td>
                                    <td>
                                        {{ recette.libelle }}
                                    </td>
                                   
                                    <td>
                                         {{recette.nom}}
                                       
                                    </td>
                                    <td>
                                        {{recette.createAt |date('d/m/Y')}}
                                       
                                    </td>

                                    <td>
                                       {{recette.montantrecette}}
                                    </td>

                                    <td>
                                                                                  
                                          <a href="{{path('edit_recette', {'id':recette.id})}}"><img src="{{ asset("/img/edit.png")}}" alt="Modifier"></a> 
                                

                                    </td>

                                </tr>
                            {% endfor %}

                            <tr class="table-primary">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                            <tr>
                            
                                <td colspan="6">
                                   
                                    <canvas id="mesRecettes" width="400" height="400" 
                                    data-recettes="{{resultatDetailRecetteGraphic|json_encode}}"></canvas>


                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>

            </tr>

        </tbody>
    </table>
{% endblock %}
 {% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('build/js/moment.js') }}"></script>
 <script type="text/javascript" src="{{ asset('build/js/chartDetailRecette.js') }}"></script>

{% endblock %}