{% extends 'base.html.twig' %}
{% form_theme formRecette 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h3>Recette
    </h3>
    <table>
        <tbody>

            <tr>
                <td>

                    {{ form_start(formRecette)}}
                    {{ form_row(formRecette.libelle)}}

                </td>

                <td>

                    {{ form_row(formRecette.lignebudgetrecette)}}

                </td>

                <td rowspan="4">

                    <table class="table table-hover">

                        <thead>
                            <tr class="table-primary">
                                <th colspan='8'>
                                    Plan de trésorerie pour l'année :</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Compte</th>
                                <th scope="col">Ligne </th>
                                <th scope="col">Prévisions</th>
                                <th scope="col">Réalisations</th>
                              
                               
                               
                            </tr>
                        </thead>
                        <tbody>
                          <!--recette.createAt | date('d/m/Y')-->
                          {% set i=0 %}
                       
                                 {%  for recette in planDeTresoreries  %} 
                                 <tr>
                                 <td>
                                        {{ i+1 }} 
                                 </td>
                                 <td>
                                      {{recette.lignebudgetrecette.lignebudgetprevision.compteLigne}} 
                                 </td>
                                 <td>
                                      {{recette.lignebudgetrecette.lignebudgetprevision.intituleLigne}} 
                                 </td>
                                 <td>
                                         {{recette.lignebudgetrecette.montantprevision}}  
                                 </td>
                                 </tr>
                               
                                  {% endfor %}
                                     {%  for p in plan %} 
                                 <td>
                                          {{p}} 
                                 </td>
                                    {% endfor %}
                                 <td>
                                       </tr> 
                                 </td>
                                  
                                 
                            
                
                            <tr>
                                <td ></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              
                              
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td>
                    {{ form_row(formRecette.utilisateur)}}

                </td>
                <td>

                    {{ form_row(formRecette.description)}}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    {{ form_row(formRecette.montantrecette, {'attr' :{'required':'required'}})}}

                </td>
                <td>
                

                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                     {{ form_row(formRecette.sauvegarder)}}
                    
                </td>
                <td></td>
                <td></td>
            </tr>

            {{ form_end(formRecette)}}

            <tr>
                <td colspan='3'></td>
            </tr>
        </tbody>
    </table>
{% endblock %}