{% extends 'base.html.twig' %}
{% form_theme formRecette 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h3>{{ title }} Recette
    </h3>
    <table>
        <tbody>

            <tr>
                <td nowrap="nowrap" valign="top">
                    {{ form_start(formRecette)}}
                    {{ form_row(formRecette.libelle)}}
                    {{ form_row(formRecette.lignebudgetrecette)}}
                    {{ form_row(formRecette.utilisateur)}}
                    {{ form_row(formRecette.createAt)}}
                    {{ form_row(formRecette.description)}}
                    {{ form_row(formRecette.codeJournaux)}}
                    {{ form_row(formRecette.montantrecette, {'attr' :{'required':'required'}})}}
                   
                    {% if (is_granted('ROLE_COMPTE_FAC') or is_granted('ROLE_CHEF_SERVICE')or is_granted('ROLE_COMPTABILITE')) and resultatIsReadOnly[0].readOnlyUser is same as(true)   %}
                    
                     {{ form_row(formRecette.sauvegarder, {'attr' :{ 'disabled': 'disabled'}} )}}
                     {% else %}
                            {{ form_row(formRecette.sauvegarder)}}

                    {% endif %}
                    
                    {{ form_row(formRecette.sauvegarder)}}
                     
                    {{ form_end(formRecette)}}
                </td>

                <td valign="top">

                    <table class="table table-hover">

                        <thead>
                            <tr class="table-primary">
                                <th colspan='9'>
                                    Plan de trésorerie du : {{ app.session.get('datedebutselect')|date('d/m/Y') }} au {{ app.session.get('datefinselect')|date('d/m/Y') }}  </th>
                               
                            </tr>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Compte</th>
                                <th scope="col">Service</th>
                                <th style="width:400;" scope="col">Ligne Budgetaire
                                </th>
                                <th scope="col">Prévisions</th>
                                <th scope="col">Réalisations</th>
                                <th scope="col">Ecarts
                                </th>
                                <th scope="col">Taux de réalisation
                                </th>

                                 <th scope="col">Détail
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <!--recette.createAt | date('d/m/Y')-->
                           
                            {% set totalPrevision = 0 %}
                            {% set num = 0 %}
                            {% set totalRecette = 0 %}
                            {% for recette in planDeTresoreries %}
                                <tr>
                                    <td>
                                        {% set num = num + 1 %}
                                        {{num}}
                                    </td>
                                    <td>
                                        {{ recette.mesrecettes.lignebudgetrecette.lignebudgetprevision.compteLigne }}
                                    </td>
                                   <td>
                                        {{ recette.mesrecettes.lignebudgetrecette.service.designation }}
                                    </td>
                                    <td style="width:400;">
                                        {{recette.mesrecettes.lignebudgetrecette.lignebudgetprevision.intituleLigne}}
                                    </td>
                                    <td>
                                        {% set totalPrevision = totalPrevision + recette.mesrecettes.lignebudgetrecette.montantprevision %}
                                        {{recette.mesrecettes.lignebudgetrecette.montantprevision|number_format(2, '.',',')}}
                                    </td>
                                    <td>
                                        {% set totalRecette = totalRecette + recette.montantrecette %}
                                        {{recette.montantrecette|number_format(2, '.',',')}}
                                    </td>

                                    <td>
                                        {{(recette.mesrecettes.lignebudgetrecette.montantprevision - recette.montantrecette)|number_format(2, '.',',')}}
                                    </td>

                                    <td>
                                         {% if recette.mesrecettes.lignebudgetrecette.montantprevision > 0 %}
                                         
                                        {{((recette.montantrecette / recette.mesrecettes.lignebudgetrecette.montantprevision ) * 100 )|number_format(2, '.', ',') }}%

                                        {% endif %}
                                    </td>
                                    <td>
                                     <a href="{{path('detail_recette', {'id':recette.mesrecettes.id})}}">
                                           <img src="{{ asset("/img/detail.png")}}" alt="Detail"></a>
                                    </td>

                                </tr>
                            {% endfor %}

                            <tr class="table-primary">
                                <td>Totaux</td>
                                <td></td>
                                 <td></td>
                                <td></td>
                                <td>{{totalPrevision|number_format(2, '.',',')}}</td>
                                <td>{{totalRecette|number_format(2, '.',',')}}
                                </td>
                                <td>{{(totalPrevision - totalRecette)|number_format(2, '.',',')}}</td>
                             
                                <td>
                                {% if totalPrevision > 0 %}
                                {{( ( totalRecette / totalPrevision) * 100)|number_format(2, '.', ',')  }}%
                                   {% endif %}
                                </td>

                                <td>
                                
                                 </td>
                                
                            </tr>
                            <tr>
                                <td colspan='9'>
                                

                                {% if planDeTresoreries is not empty %}
                                {% set ligneBudgetaire = [] %}
                                {% set ligneBudgetaireTous = [] %}
                                {% set montantBudgetaire = [] %}
                                {% set montantBudgetaireTous = [] %}
                                
                                {% for i in 0..planDeTresoreries|length - 1 %}

                                       {% set ligneBudgetaire = [planDeTresoreries[i].mesrecettes.lignebudgetrecette.lignebudgetprevision.intituleLigne]   %}
                                       {% set ligneBudgetaireTous = ligneBudgetaireTous|merge([ligneBudgetaire]) %}
                                       
                                       {% set montantBudgetaire = [planDeTresoreries[i].montantrecette]   %}
                                       {% set montantBudgetaireTous = montantBudgetaireTous|merge([montantBudgetaire]) %}
                                     
                                {% endfor %}

                                    <canvas id="ligneRecette" width="400" height="400" data-ligne="{{ligneBudgetaireTous|json_encode}}" data-montant="{{montantBudgetaireTous|json_encode}}"></canvas>
                                    {% endif %}
                                 </td>
                            </tr>

                        </tbody>
                    </table>

                </td>

            </tr>

        </tbody>
    </table>
{% endblock %}
 {% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('build/js/moment.js') }}"></script>
 <script type="text/javascript" src="{{ asset('build/js/chartRecette.js') }}"></script>
 <script type="text/javascript" src="{{ asset('build/js/formatterDate.js') }}"></script>
 
{% endblock %}