{% extends 'base.html.twig' %}
{% form_theme frmAddOp 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h3>Ordre de Paiement

    </h3>
    <table>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>  <a class="btn btn-success" href="{{path('lesOPDepenses_overview')}}">Voir les OP en attente</a>
                </td>
                <td><a class="btn btn-success" href="{{path('caisse_par_service')}}">état de la caisse</a>
                </td>

            </tr>
            <tr class="table-primary">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>

                    {{ form_start(frmAddOp)}}

                    {{ form_row(frmAddOp.numOp) }}

                </td>
                <td>
                    {% if is_granted('ROLE_COMPTE_FAC')or is_granted('ROLE_CHEF') %}
                        {{ form_row(frmAddOp.utilisateurdepense, {'attr': {'selected':'{{app.user.nom}}', 'disabled': 'disabled' }})}}
                    {% else %}
                        {{ form_row(frmAddOp.utilisateurdepense)}}
                    {% endif %}

                </td>
                <td>

                    {{form_row(frmAddOp.dateEmission) }}

                </td>
                <td>
                    {% if is_granted('ROLE_COMPTE_FAC')or is_granted('ROLE_CHEF') %}
                        {{ form_row(frmAddOp.service, {'attr': {'selected':'{{app.user.services.designation }}', 'disabled': 'disabled' }})}}
                    {% else %}
                        {{ form_row(frmAddOp.service)}}
                    {% endif %}

                </td>
                <td rowspan="7" valign="top">
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <table>
                        <thead>
                            <tr class="table-primary">
                                <th colspan='6'>
                                    Non signés</th>

                            </tr>
                            <tr class="table-primary">

                                <th scope="col">Numéro</th>
                                <th scope="col">Modifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for op in resutatListOpNonSigne %}

                                <tr>
                                    <td>{{op.listOp.numOp}}</td>
                                    <td>
                                        <a href="{{path('op_edit',{'id':op.listOp.id})}}"><img src="{{ asset('/img/edit.png') }}"/></a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>

            </tr>
            <tr class="table-primary">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    {{ form_row(frmAddOp.createAt)}}
                </td>
                <td>
                    {{ form_row(frmAddOp.beneficiaire)}}
                </td>

                <td>
                    {{ form_row( frmAddOp.modePaiement)}}
                </td>
                <td>
                    {{ form_row(frmAddOp.ligneBudgetaire)}}
                </td>
                <td></td>

            </tr>
            <tr class="table-primary">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td >
                    {% if frmAddOp.vars.value.libele is null %}
                        {{ form_row(frmAddOp.libele, {'attr':{'data':'.'}})}}
                    {% else %}
                        {{ form_row(frmAddOp.libele, {'attr':{'data':'.'}})}}
                    {% endif %}

                </td>
                <td id="montant">
                    {{ form_row(frmAddOp.montantdepense)}}
                </td>
                <td id="enlettre">
                    {{ converssion(frmAddOp.vars.value.montantdepense, "USD") }}
                </td>
                <td></td>
                <td></td>

            </tr>
            <tr class="table-primary">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>
                    {{ form_row(frmAddOp.chefDepartement)}}
                </td>
                <td>
                    {{ form_row(frmAddOp.secGeneralConcerne)}}
                </td>

                <td>
                    {{ form_row(frmAddOp.abOuDelegue)}}
                </td>
                <td>
                    {{ form_row(frmAddOp.recteurOuDelegue)}}
                </td>
                <td></td>
            </tr>
            <tr>
                {% if (is_granted('ROLE_CHEF_SERVICE')) %}
                    <td>{{form_row(frmAddOp.autoriserChefService)}}</td>
                {% else %}
                    <td>{{form_row(frmAddOp.autoriserChefService, {'attr':{'disabled':'disabled'}})}}</td>
                {% endif %}

                {% if (is_granted('ROLE_SG')) %}
                    <td>{{form_row(frmAddOp.autoriserSG)}}</td>
                {% else %}
                    <td>{{form_row(frmAddOp.autoriserSG, {'attr':{'disabled':'disabled'}})}}</td>
                {% endif %}

                {% if (is_granted('ROLE_AB')) %}
                    <td>{{form_row(frmAddOp.autoriserAB)}}</td>
                {% else %}
                    <td>{{form_row(frmAddOp.autoriserAB, {'attr':{'disabled':'disabled'}})}}</td>
                {% endif %}

                {% if (is_granted('ROLE_RECTOR')) %}
                    <td>{{form_row(frmAddOp.autoriserRecteur)}}</td>
                {% else %}
                    <td>{{form_row(frmAddOp.autoriserRecteur, {'attr':{'disabled':'disabled'}})}}</td>
                {% endif %}

                <td>{{form_row(frmAddOp.isCentralyzed)}}</td>
            </tr>

            <tr class="table-primary">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <br>

                    {% set idDepense = frmAddOp.vars.value.id %}
                    {% if idDepense is null %}
                        <button type="submit" class="btn btn-success" formnovalidate="formnovalidate">
                            Enregistrer
                        </button>

                    {% elseif frmAddOp.vars.value.utilisateurdepense.nom is not same as(app.user.nom)  and  is_granted('ROLE_COMPTE_FAC') or is_granted('ROLE_COMPTABILITE') %}
                        <button type="submit" disabled="disabled" class="btn btn-success" formnovalidate="formnovalidate">
                            Enregistrer
                        </button>
                    {% elseif frmAddOp.vars.value.utilisateurdepense.nom is same as(app.user.nom)   %}
                        <button type="submit" class="btn btn-success" formnovalidate="formnovalidate">
                            Enregistrer
                        </button>
                    {% elseif frmAddOp.vars.value.utilisateurdepense.nom is not same as(app.user.nom)  and is_granted('ROLE_RECTOR') or is_granted('ROLE_SG') or is_granted('ROLE_AB') or is_granted('ROLE_CHEF_SERVICE')    %}
                        <button type="submit" class="btn btn-success" formnovalidate="formnovalidate">
                            Enregistrer
                        </button>
                    {% endif %}

                </td>
                <td>
                    <br>

                    {% if idDepense is not null %}
                        <a class="btn btn-success" href="{{path('etatBesoin_par_op', {'id':idDepense})}}">Son Etat de besoin</a>
                    {% endif %}
                </td>
                <td>
                    <br>

                </td>
                <td>
                    <br>
                    <a class="btn btn-success" href="{{path('lesOPDepenses_overview')}}">Voir les OP en attente
                    </a>
                </td>
                <td>
                    <br>
                    <a class="btn btn-success" href="{{path('caisse_par_service')}}">état de la caisse
                    </a>
                </td>
            </tr>

            {{ form_end(frmAddOp)}}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#montant').onChange(function () {
                alert("tesr");
            }
        });
    });
    </script>
{% endblock %}