{% extends 'base.html.twig' %}
{% form_theme frmDepense 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <table>
        <tbody>
            <tr>
                <td>

                    <h3>Depense
                    </h3>
                    {{ form_start(frmDepense)}}
                    {{ form_widget(frmDepense)}}
                    {{ form_end(frmDepense)}}

                </td>
                <td>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">ID</th>
                                <th scope="col">Libelé depense</th>
                                <th scope="col">Libelé recette</th>
                                <th scope="col">Débit</th>
                                <th scope="col">Crédit</th>
                                <th scope="col">Solde</th>
                                <th scope="col">Observation</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% set numDepense = 0 %}
                            {% set totaleEntree = 0 %}
                            {% set totaleSortie = 0 %}
                            {% set SoldeGlobal = 0 %}
                            {% for dep in queryDepenseGlobale %}
                                <tr>
                                    <th scope="row">
                                        {% set numDepense = numDepense + 1 %}
                                        {{ numDepense }}
                                    </th>
                                    <td>{{dep.mesdep.lignebudgetdepense.lignebudgetprevision.intituleLigne}}</td>

                                    <td>{{dep.mesdep.lignebudgetsource.lignebudgetprevision.intituleLigne}}</td>
                                    <td>
                                        {{dep.mesdep.lignebudgetsource.recettes}}
                                        {% set totaleEntree = totaleEntree + dep.mesdep.lignebudgetsource.recettes %}
                                    </td>
                                    <td>{{dep.sommedepense}}</td>
                                    {% set totaleSortie = totaleSortie + dep.sommedepense %}
                                    <td>
                                        {% set solde = dep.mesdep.lignebudgetsource.recettes - dep.sommedepense %}
                                        {% set SoldeGlobal = SoldeGlobal + solde %}
                                        {% if solde <= 0 %}
                                            <h5 style="color:red;">
                                                {{solde }}
                                            </h5>
                                        {% else %}
                                            <h5 style="color:black;">
                                                {{solde }}
                                            </h5>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="table-primary">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td>
                                    {{totaleEntree}}
                                </td>
                                <td>
                                    {{totaleSortie}}
                                </td>
                                <td>
                                    {% if SoldeGlobal <= 0 %}
                                        <h5 style="color:red;">
                                            {{SoldeGlobal }}
                                        </h5>
                                    {% else %}
                                        <h5 style="color:black;">
                                            {{SoldeGlobal }}
                                        </h5>
                                    {% endif %}
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td></td>
                <td>

                    <td></td>
                </td>
            </tr>

        </tbody>
    </table>

{% endblock %}