{% extends 'base.html.twig' %}

{% form_theme formService 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <table>
        <tbody>
          <tr>
              <td>

                    <h3>Service
                    </h3>

                    {{ form_start(formDepense)}}
                    <button type="submit" class="btn btn-success">
                        {% if editMode %}
                            Modifier
                        {% else %}
                            Enregistrer
                        {% endif %}

                    </button>

                    {{ form_row(formDepense.libele, {'attr' :{'placeholder':'Libele'}})}}
                    {{ form_row(formDepense.createAt, {'attr' :{'placeholder':'Date '}})}}
                    {{ form_row(formDepense.montantdepense, {'attr' :{'placeholder':'Montant'}})}}

                    {{ form_end(formDepense)}}

              </td>
            <td>
        </tr>
        <tr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Designation</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in lesServices %}
                        <tr>
                            <th scope="row">{{service.id}}</th>
                            <td>{{service.designation}}</td>
                            <td>
                                {{service.emailservice}}</td>
                            <td>{{service.description}}</td>
                            <td>
                                <a href="{{path('service_edit', {'id':service.id})}}" class="btn btn-primary">Modifier</a>
                                <a href="{{path('service_delete', {'id':service.id})}}" class="btn btn-primary">Supprimer</a>
                                <a href="{{path('personne_by_service', {'id':service.id})}}" class="btn btn-primary">Personnes</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="table-primary">
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

        </td>

    </tr>

</tbody>
</table>

{% endblock %}