{% extends 'base.html.twig' %}
{% form_theme frmDepense 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <table>
        <tbody>
            <tr>
                <td>

                    
                   

                </td>
                <td>
                <h3>Depense
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">ID</th>
                                <th scope="col">Libelé depense</th>
                                <th scope="col">Montant</th>
                                 <th scope="col">Date</th>
                                <th scope="col">Observation</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% set numDepense = 0 %}
                            {% set totaleEntree = 0 %}
                            {% set totaleSortie = 0 %}
                            {% set SoldeGlobal = 0 %}
                            {% for dep in queryDepenseGlobale %}
                                <tr>
                                    <th scope="row">
                                        {% set numDepense = numDepense + 1 %}
                                        {{ numDepense }}
                                    </th>
                                    <td>{{dep.mesdep.lignebudgetdepense.lignebudgetprevision.intituleLigne}}</td>
                                    
                                    <td>{{dep.sommedepense}}</td>
                                    {% set totaleSortie = totaleSortie + dep.sommedepense %}
                                      <td>{{dep.mesdep.createAt|date('d/m/Y')}}</td>
                                    <td>
                                           
                                                {{ converssion(dep.sommedepense, "USD") }}
                                            
                                       
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="table-primary">
                                <th scope="row"></th>
                                <td></td>

                                <td>
                                    {{totaleSortie}}
                                </td>
                               <td colspan="2"> {{ converssion(totaleSortie, "USD") }}</td>
                                <td>
                                
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td></td>
                <td>

                    <td></td>
                </td>
            </tr>

        </tbody>
    </table>

{% endblock %}