<!DOCTYPE html >
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>
            {% block title %}SGB-UL{% endblock %}
        </title>
        <!--<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">-->
       
        {% block stylesheets %}
 <link rel="stylesheet" href="{{path('boots')}}">
          
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">SGB-UL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('user_menu')}}">Menu
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('service_create')}}">Service
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('personne_create')}}">Personne
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('lb_overview')}}">Ligne Budgetaire
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('sgb_prevision')}}">Prévision</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('recette_create')}}">Recette</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('depense_create1')}}">Dépenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rapports">Rapports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('admin_formimportrubrique')}}">Configuration</a>
                    </li>

                    {% if app.user %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{path('user_logout')}}">Deconnexion</a>
                        </li>
                        <li class="nav-item">
                            <b>
                                <a class="nav-link">
                                    {{ app.user.nom }}
                                    :
                                    {{ app.user.services.designation }}
                                </a>
                            </b>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('user_login')}}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
                <!--<form class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="text" placeholder="Search"> <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> </form>-->
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
          
        {% endblock %}
    </body>
</html>
