<!DOCTYPE html >
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>
            {% block title %}SGB-UL{% endblock %}
        </title>
        <!--<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">-->
      
       <link rel="stylesheet" href= {{ asset('build/css/app.css') }}>
   
        {% block stylesheets %}

       
        
          
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">SGB-UL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('user_menu')}}">Menu
                            <span class="sr-only"></span></a>
                    </li>
                    {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_COMPTABLE'))   %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('service_create')}}">Service
                            <span class="sr-only"></span></a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('personne_create')}}">Personne
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('lb_overview')}}">Ligne Budgetaire
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('selectparPrev')}}">Prévision</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('selectparameters')}}">Recette</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('depense_create1')}}">Dépenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('selectAnalyse')}}">Plan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('selectparametersdepense')}}">OP</a>
                    </li>
                      <li class="nav-item">
                        <a  class="nav-link" href="{{path('servireOp')}}">Décaisser</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Rapports</a>
                    </li>
                     {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('admin_formimportrubrique')}}">Configuration</a>
                    </li>
                    {% endif %}
                    {% if app.user %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{path('user_logout')}}">Deconnexion</a>
                        </li>
                        <li class="nav-item">
                            <b>
                                <a class="nav-link">
                                    {{ app.user.nom }}
                                    :
                                    {{ app.user.services.designation }}
                                </a>
                            </b>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('user_login')}}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}

        </div>
         
         {% block javascripts %}      
       <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
         <script type="text/javascript">
            $(document).ready(function () {
                var $ = require('jquery')
                var theHREF;

                $(".confirmModalLink").click(function(e) {
                    e.preventDefault();
                    theHREF = $(this).attr("href");
                    $("#confirmModal").modal("show");
                });

                $("#confirmModalNo").click(function(e) {
                    $("#confirmModal").modal("hide");
                });

                $("#confirmModalYes").click(function(e) {
                    window.location.href = theHREF;
                });
            });
        </script>
        
        
        {% endblock %}
    </body>
</html>
