{% extends 'base.html.twig' %}
{% block body %}
    {% if comptesRecettesparservice is not empty %}
  
        <h4>Analyse du compte
            {{comptesRecettesparservice[0].recette.lignebudgetrecette.lignebudgetprevision.intituleLigne}}
            {{ app.session.get('datedebutselect')|date('d/m/Y') }}
            au
            {{ app.session.get('datefinselect')|date('d/m/Y')}}
        </h4>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">ID</th>
                    <th scope="col">Compte</th>
                    <th scope="col">Réalisation</th>
                    <th scope="col">En poucentage</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                {% set numDepense = 0 %}
                {% set total = 0 %}

                {% set PoucentageGeneralRecette = 0 %}
                {% set totalGeneralRecette = 0 %}
                {% for comptesRecettePourcentage in comptesRecettesparservice %}
                    {% if comptesRecettePourcentage.entree > 0 %}
                        {% set totalGeneralRecette = totalGeneralRecette + comptesRecettePourcentage.entree %}
                    {% endif %}
                {% endfor %}
                {% for comptesRecette in comptesRecettesparservice %}
                    {% if comptesRecette.entree > 0 %}
                   
                        <tr>
                            <th scope="row">
                                {% set numDepense = numDepense + 1 %}
                                {{ numDepense }}
                            </th>
                            <td>
                                    {{comptesRecette.createAt}}
                            </td>
                            <td>
                                {{comptesRecette.entree|number_format(2, '.',',')}}
                                {% set total = total + comptesRecette.entree %}
 </td>
                            <td>
                                {% if totalGeneralRecette is not same as(0) %}
                                    {% set PoucentageGeneral =  (comptesRecette.entree * 100 ) / totalGeneralRecette %}
                                    {{PoucentageGeneral|number_format(2, '.',',')}}{{" % "}}
                                {% endif %}
                            </td>
                            <td>
                             
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr class="table-primary">
                    <th scope="row"></th>
                    <td>
                        {{ converssion(total, "USD") }}</td>
                    <td>
                        {{total|number_format(2, '.',',')}}</td>
                         <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <canvas id="myCompte" width="400" height="400" data-mescomptes="{{resultatRecettesparserviceGraphic|json_encode}}"></canvas>
                    </td>
                </tbody>
            </table>
            <script type="text/javascript" src="{{ asset('build/js/chartRecettesUnCompteParservice.js') }}"></script>
        {% endif %}
        <!-- cas où c'est la ligne de depense-->
        
        {% if comptesDepenseparservice is not empty %}
                
            <h4>Analyse du compte
                {{comptesDepenseparservice[0].mesdep.lignebudgetdepense.lignebudgetprevision.intituleLigne}}
                {{ app.session.get('datedebutselect')|date('d/m/Y') }}
                au
                {{ app.session.get('datefinselect')|date('d/m/Y')}}
            </h4>
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">ID</th>
                        <th scope="col">Compte</th>
                        <th scope="col">Réalisation</th>
                        <th scope="col">En poucentage</th>
                         <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% set numDepense = 0 %}
                    {% set total = 0 %}

                    
                  {% set PoucentageGeneralDepense = 0 %}
                    {% set totalGeneralDepense = 0 %}
                    {% for comptesRecettePourcentageDepense in comptesDepenseparservice %}
                        {% if comptesRecettePourcentageDepense.sommedepense > 0 %}
                            {% set totalGeneralDepense = totalGeneralDepense + comptesRecettePourcentageDepense.sommedepense %}
                        {% endif %}
                    {% endfor %}

                    {% for comptesDepense in comptesDepenseparservice %}
                   
                        <tr>
                            <th scope="row">
                                {% set numDepense = numDepense + 1 %}
                                {{ numDepense}}
                            </th>
                            <td>
                                    {{comptesDepense.createAt}}
                                
                            </td>
                            <td>
                                {{comptesDepense.sommedepense|number_format(2, '.',',')}}
                                {% set total = total + comptesDepense.sommedepense %}
 </td>
                            <td>
                                 {% if totalGeneralDepense is not same as(0) %}
                                    {% set PoucentageGeneralDepense =  (comptesDepense.sommedepense * 100 ) / totalGeneralDepense %}
                                    {{PoucentageGeneralDepense|number_format(2, '.',',')}}{{" % "}}
                                {% endif %}
                            </td>
                            <td>
                              
                            </td>
                        </tr>
                   
                {% endfor %}
                <tr class="table-primary">
                    <th scope="row"></th>
                    <td>
                        {{ converssion(total, "USD") }}</td>
                    <td>
                        {{total|number_format(2, '.',',')}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4">
                     <canvas id="myCompteDepense" width="400" height="400" data-mescomptesdepense="{{resultatDepenseparserviceGraphic|json_encode}}"></canvas>
                    </td>
                </tbody>
            </table>
                       
        <script type="text/javascript" src="{{ asset('build/js/chartDepenseUnCompteParservice.js') }}"></script>
        {% endif %}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('build/js/moment.js') }}"></script>
        
    {% endblock %}
