  <link rel="stylesheet" href= {{ asset('build/css/app.css') }}>
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Analyse budgétaire</h1>
        {% if error is defined %}
         <h5 style="color:red;">{{error}}</h5>
        {% endif %}

        
        
        <h4></h4>
        <form action="{{ path('dataAnalys') }}" method="post">
            <div class="form-group">
                <select required="required" name="annees" class="form-control">
                    <option value="">--Choisir une année budgetaire
                    </option>
                    {% for annee in annees %}
                        <option value="{{annee.id}}">{{annee.anneebudget}}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="form-group">
                {% if is_granted('ROLE_COMPTE_FAC') or is_granted('ROLE_CHEF_SERVICE')  %}
                   <select disabled="disabled" name="services" class="form-control">
                    <option readonly="true" value="{{app.user.services.id}}">{{app.user.services.designation}}
                    </option>
                    {% for service in services %}
                        <option value="{{service.id}}">{{service.designation}}</option>
                    {% endfor %}
                </select>
                {% else %}
                 <h5>Par Service</h5>
                <select name="services" class="form-control">
                    <option ></option>
                    <option value="*">Tous</option>
                    {% for service in services %}
                        <option value="{{service.id}}">{{service.designation}}</option>
                    {% endfor %}
                </select>
               <hr>
               <h5>Ou par Axe analytique</h5>
               <select name="axe" class="form-control">
                    <option ></option>
                    <option value="*">Tous</option>
                    {% for axe in axes %}
                        <option value="{{axe.id}}">{{axe.designation}}</option>
                    {% endfor %}
                </select>
                 {% endif %}

            </div>
         <h5>Période</h5>
            <div class="form-group">
                <label >du </label>
                <input type="date" name="datedebut" max="3000-12-31" min="1000-01-01" class="form-control">
            </div>
            <div class="form-group">
                <label >au</label>
                <input type="date" name="datefin" min="1000-01-01" max="3000-12-31" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Continuer
                </button>

            </div>
        <div class="form-group">
                        <a class="btn btn-success"  href="{{path('home')}}">Quitter</a>
          </div>
        </form>

    </div>
{% endblock %}
