{% extends 'base.html.twig' %}
{% form_theme formPrevision 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h3>Prevision pour : {{app.session.get('anneeselect')}}
    </h3>
    <table>
        <tbody>

            <tr>
                <td>

                    {{ form_start(formPrevision)}}
                    {{ form_row(formPrevision.sousrubrique)}}

                </td>

                <td>
                {% if is_granted('ROLE_COMPTE_FAC') or is_granted('ROLE_CHEF_SERVICE')  %}
                    {{ form_row(formPrevision.service, {'attr': {'selected':'{{app.user.services.designation }}', 'disabled': 'disabled' }})}}
                {% else %}
                    {{ form_row(formPrevision.service, {'attr': {'selected':'{{ app.user.services.designation }}' }})}}
                 {% endif %}
                </td>

                <td></td>
            </tr>
            <tr>
                <td>
                {{ form_row(formPrevision.lignebudgetprevision)}}
                   
                </td>
                <td>

                    {{ form_row(formPrevision.anneebudgetprevision)}}
                </td>
                <td></td>
            </tr>
            
            <tr>
                <td>

                    {{ form_row(formPrevision.iscentraliser)}}
                </td>
                <td>
                    {{ form_row(formPrevision.montantprevision, {'attr' :{'required':'required'}})}}
                </td>
                <td>
                 {% if is_granted('ROLE_COMPTABILITE') or is_granted('ROLE_AB')  or is_granted('ROLE_ADMIN')   %}
                         {{ form_row(formPrevision.isValideted)}}
                {% else %}
                        {{ form_row(formPrevision.isValideted, {'attr': {'disabled': 'disabled' }})}}
                 {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <button id="addPrevision" type="submit" name="send" class="btn btn-success">
                        Sauvegarder</button>
                </td>
                <td>
                    <h5></h5>

                </td>
                <td></td>
            </tr>

            {{ form_end(formPrevision)}}

            <tr>
                <td colspan='3'>
                    <table class="table table-hover">

                        <thead>
                            <tr class="table-primary" >
                                <th colspan='7'>
                                    Les previsions budgetaire de {{app.session.get('categorieselect')}}</th>
                             
                                
                            </tr>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Rubrique</th>
                                <th scope="col">Ligne</th>
                                <th scope="col">Service</th>
                                <th scope="col">Année</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% set totalPrevision = 0 %}
                         {% set labelsNum = 0 %}
                            {% for prevision in previsions %}
                                <tr>
                                 {% set labelsNum = labelsNum +1 %}
                                    <th scope="row">{{labelsNum}}</th>
                                    <td>{{prevision.nom}}</td>
                                    <td>{{prevision.intituleLigne}}</td>
                                    <td>{{prevision.designation}}</td>
                                    <td>{{prevision.anneebudget}}</td>
                                    {% set totalPrevision = totalPrevision + prevision.montantprevision %}
                                    <td>{{prevision.montantprevision}}</td>

                                    <td>
                                  
                                    <!-- Permet la modification d'une prevision que si elle n'est pas encore valider ou que pour la comptabilite centrale-->
                                    {% if prevision.isValideted is same as(false) or is_granted('ROLE_COMPTABILITE') or is_granted('ROLE_ADMIN')%}
                                        <a href="{{path('prevision_edit', {'id':prevision.id})}}"><img src="{{ asset("/img/edit.png")}}" alt="Modifier"></a>
                                        &nbsp; &nbsp;
                                                                            
                                     <a class="confirmModalLink" data-toggle="modal" href="{{path('delete_prevision', {'id':prevision.id})}}">
                                            <i class="glyphicon glyphicon-trash"></i>

                                            <img src="{{ asset("/img/delete1.png")}}" alt="Supprimer"></a>
                                   
                                    {% endif %}
                                        <div class="modal hide fade" id="confirmModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">Confirmation de la suppression</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Etes-vous sur de vouloir supprimer cette prevision !
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="#" class="btn btn-primary" id="confirmModalNo">Non</a>
                                                        <a href="#" class="btn btn-primary" id="confirmModalYes">Oui</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </td>
                                </tr>
                            {% endfor %}
                             <tr class="table-primary">
                                <td ></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> Totale prévision</td>
                                <td>{{totalPrevision}}</td>
                                <td></td>
                            </tr>
                             <tr>
                <td colspan="7">
                    <canvas id="myCanvas" width="1000" height="800" data-montant="{{chartData(previsionsGraphic, 'montantprevision')|e('html_attr')}}" data-ligne="{{chart(previsionsGraphic, 'intituleLigne')|e('html_attr')}}"></canvas>
                
                </td>
            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>

           

        </tbody>
    </table>
{% endblock %}
 {% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('build/js/moment.js') }}"></script>
 <script type="text/javascript" src="{{ asset('build/js/chartPrevision.js') }}"></script>
{% endblock %}
